<h2>ADD</h2>
<a href="/dashboard">Home</a>
<a href="/edit">Edit</a>
<a href="/add">Add</a>

<form method="POST" action="/add">
    <legend>ADD</legend>
    <label for="showTitle">Show's title:</label>
    <input type="text" id="showTitle" name="showTitle" required>
    <br>

    <label for="monday">Day:</label>
    <input type="radio" name="showWeekday" id="monday" value="Monday"><label for="monday" required>Monday</label>
    <input type="radio" name="showWeekday" id="tuesday" value="Tuesday"><label for="tuesday">Tuesday</label>
    <input type="radio" name="showWeekday" id="wednesday" value="Wednesday"><label for="wednesday">Wednesday</label>
    <input type="radio" name="showWeekday" id="thursday" value="Thursday"><label for="thursday">Thursday</label>
    <input type="radio" name="showWeekday" id="friday" value="Friday"><label for="friday">Friday</label>
    <input type="radio" name="showWeekday" id="saturday" value="Saturday"><label for="saturday">Saturday</label>
    <input type="radio" name="showWeekday" id="sunday" value="Sunday"><label for="sunday">Sunday</label>
    <br>

    <label for="seasonNumber">Season:</label>
    <input type="number" name="seasonNumber" id="seasonNumber">

    <br>

    <label for="episodeNumber">Episode:</label>
    <input type="number" name="episodeNumber" id="episodeNumber">

    <br>
    <input type="submit">
</form>
