<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>
      <!-- Bootstrap minified CSS -->
      <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
      <!--Test CSS-->
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <!--<link rel="stylesheet" href="/stylesheets/cover.css"/>-->
      <link rel="stylesheet" href="/stylesheets/dashboard.css"/>

  </head>
  <body>


    {{{body}}}



<!--
 TODO: fix the button's goddamn css
 -->



    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- Custom script -->
    <script src="/javascripts/links.js"></script>

  </body>
</html>
