/*body {*/
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/

/*}*/

a {
  color: #00B7FF;
}

#navigation {
  padding-bottom: 50px;
}

#weekday {
  display: inline;
}

.navButton{
    display: inline;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid white;
}

th {
    text-align: center;
}

td {
    padding: 10px;
}

td:hover {background-color: #abacad}

ul {
    list-style-type: none;
    /*text-align: left;*/
    padding: 5px;
}

#or {
    color: #00B7FF;
}

legend {
    color: white;
    /*padding: 5px;*/
}


form {
    position: relative;
    width: 250px;
    margin: 0 auto;
    background: rgba(130,130,130,.3);
    padding: 20px 22px;
    border: 1px solid;
    border-radius: 10px;
    border-top-color: rgba(255,255,255,.4);
    border-left-color: rgba(255,255,255,.4);
    border-bottom-color: rgba(60,60,60,.4);
    border-right-color: rgba(60,60,60,.4);
}

form input {
    width: 212px;
    border: 1px solid;
    border-bottom-color: rgba(255,255,255,.5);
    border-right-color: rgba(60,60,60,.35);
    border-top-color: rgba(60,60,60,.35);
    border-left-color: rgba(80,80,80,.45);
    background-color: rgba(0,0,0,.2);
    padding: 8px 24px 8px 10px;
    font: bold .875em/1.25em "Open Sans Condensed", sans-serif;
    letter-spacing: .075em;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    margin-bottom: 19px;
}

form input:focus {
    background-color: rgba(0,0,0,.4);
}

.inputButton:hover{
    color: #FDE6A9;
}

#error {
    color: red;
}
